# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
/static/
/media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk